{
    padding:0;
    margin:0;
}
header{
    background-color:blueviolet;
}
li{
    life-style:none;
}
a{
    color:white;
    text-decoration:none;
}

.navbar{
    min-height:70px;
    display: flex;
    justify-content: space- between;
    aligh-items: center;
    padding : 0 24px;
}
.nav-menu{
    display : flex;
    justify-container: space-between;
    align-item: center;
    gap: 60px;

